.corespring-choice-config-root {


  .base-types{
    display: flex;
  }

  .two-choice{
    flex: 1;

    .header{
      display: inline-block;
      color: rgba(0, 0, 0, 0.298039);
      font-size: 11px;
      margin-bottom: 3px;
    }
  }
  // max-width: 900px;

  .design-tab, .scoring-tab {
    margin:0px;
  }

  .design-tab {
    .choice-symbol {
      font-weight: bold;
      * {
        vertical-align: middle;
      }
    }

    .feedback-container {
      min-width: 430px;
      margin-bottom: 10px;
    }

    .add-choice {
      margin: 20px 0;
    }

  }


}