.corespring-multiple-choice-react {
  
  .prompt {
    color: black;
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
  }

  .corespring-correct-answer-toggle {
    svg {
      display: none;
    }
  }

  .choice {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0DEE0;

    &.last {
      border-bottom: none;
    }

  }

  .corespring-checkbox {
    width: auto;
    display: inline-block;

    input[type=checkbox] {
      width: auto;
      display: inline-block;
      border-color: #a2d4f2;
    }

    .feedback-tick {
      position: relative;
      width: 33px;
      height: 33px;
      float: left;
      vertical-align: top;
      display: inline-block;
      top: -5px;

      svg {
        position: absolute;
        display: inline-block;
        width: 33px;
        height: 33px;
        vertical-align: middle;

        .incorrect-background {
          fill: orange;
        }

        .correct-background {
          fill: green;
        }
      }
    }

    .checkbox-holder {
      display: inline-block;
      width: auto;

      label {
        width: auto !important;
      }

      div div div {
        margin-right: 8px !important;
      }
    }

  }

}

